---
import { Icon } from 'astro-icon/components';
import Container from './container.astro';
import Link from './ui/link.astro';

interface Props {
  title: string;
  subtitle?: string;
  align?: 'left' | 'center';
  id?: string;
}

const { title, subtitle, align = 'left', id } = Astro.props;
const alignClass = align === 'center' ? 'text-center' : 'text-left';
---

<section id={id} class="bg-blue-900 text-white py-16 scroll-mt-24">
  <Container>
    <div class={`max-w-4xl ${align === 'center' ? 'mx-auto' : ''}`}>
      <div class={alignClass}>
        <h1 class="text-4xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
          {title}
        </h1>
        {subtitle && <p class="text-lg mt-4 text-blue-100 max-w-xl">{subtitle}</p>}
      </div>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link href="#contacto" size="lg" class="flex gap-1 items-center justify-center">
          <Icon name="tabler:message-circle" class="w-5 h-5" />
          Consultar Ahora
        </Link>
        <Link
          size="lg"
          style="outline"
          href="#funciones"
          class="flex gap-1 items-center justify-center"
        >
          <Icon name="tabler:info-circle" class="w-4 h-4" />
          Ver Servicios
        </Link>
      </div>
    </div>
  </Container>
</section>
